body{
    background-color:#ffffff;
    color: #2c3e50;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0%;
}

.contenedor {
    max-width: 800px;
    margin: 0px auto;
    background-color: white;
    padding: 20px;
    font-size: 17px;
    line-height: 1.8; 
}

.imga {
    width: 750px; 
    height: auto; 
    display: block;
    border-radius: 10px;
    margin: 0px;
    } 

img {
    width: 300px; 
    height: auto; 
    display: block;
    margin: 20px auto; 
    border-radius: 10px;
    }

.dungeon {
    width: 500px; 
    height: auto; 
    display: block;
    margin: 20px auto; 
    border-radius: 10px;
    }

nav{
    background-color:gray;
    padding: 2px;
    }

nav a{
    padding: 10px;
    color: aqua;
    }